DASHSCOPE_API_KEY=your_dashscope_api_key
FEISHU_APP_ID=your_feishu_app_id
FEISHU_APP_SECRET=your_feishu_app_secret
FEISHU_OAUTH_APP_ID=your_feishu_oauth_app_id
FEISHU_OAUTH_APP_SECRET=your_feishu_oauth_app_secret
FEISHU_APP_TOKEN=your_optional_personal_bitable_app_token
FEISHU_TABLE_ID=your_optional_personal_bitable_table_id
PERSONAL_ACCESS_KEY=generate_a_random_access_key
TOKEN_ENCRYPTION_KEY=generate_a_32_byte_base64_key
